*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.join-button{
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.join-button:hover{
    background-color: #00b383;
}

.navbar{
    background-color: #fff;
    height: 100px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active{
    color: black;
}

@media (min-width: 991px){
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}
}
.hero-section{
    background-size: cover;
    width: auto;
    height: 100vh;
}
.hero-section video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-section::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/*container*/
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.card img{
    height: 400px;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}
.btn-success{
    border-radius: 50px;
    width: 120px;
}
.btn-success:hover{
    background-color: black;
}
